@font-face {
  font-family: 'digital';
  src: url('font/DS-DIGII.TTF');
}

body {
  font-size: 25px;
  font-family: sans-serif, arial;
  font-weight: lighter;
}

button {
  cursor: pointer;
}

.text.big {
  font-size: 30px;
}

.text.color.grey {
  color: rgb(53, 53, 53);
}

.background.color.lightgrey {
  background: rgb(235, 235, 235);
}

.text.center {
  text-align: center;
}

.padding {
  padding: 20px;
}

.margin_bottom_medium {
  margin-bottom: 15px;
}

.margin_bottom_big {
  margin-bottom: 30px;
}

.border {
  border-width: 1px;
}

.border.solid {
  border-style: solid;
}

.border.color.grey {
  border-color: rgb(226, 226, 226);
}

.digital {
  font-family: 'digital';
  font-size: 10em;
}